@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primaryColor: rgb(0, 115, 168);
  --secondaryColor: rgb(16, 181, 203);
  --gradientColor: linear-gradient(to right, rgb(16, 181, 203), rgb(0, 115, 168));
  --whiteColor: rgb(255, 255, 255);
  --blackColor: rgb(0, 0, 0);
  --greyColor: rgb(88, 88, 95);
  --offwhiteColor: rgb(237, 237, 237);
  --lightGreyColor: rgb(190, 190, 190);
  /* --inputColor: rgb(239, 239, 239); */
  --bodyColor: rgb(420, 240, 240);
  --cardBg: rgb(225, 225, 235);
}

body {
  background: var(--bodyColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.btn {
  padding: .6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover {
  background: var(--secondaryColor);
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}